body{
    background-color: #EDCA17;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

li{
    list-style: none;
}
*{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 25px 25px;
}

/*HEADER*/ 

.info-section{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 68px;
}

.header-container{
    width: 80%;
    height: 62px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.header-info{
    display: flex;
    gap: 48px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    margin-left: 30%;
}


.header-logo{
    margin-top: auto;
    margin-left: 2em;
    width: 80%;
}

.header-info>li{
    position: relative;
}

.anim{
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: #131312;
    padding-bottom: 0.25rem;
}

.anim::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #131312;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.anim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.info-section {
    background-color: #EDCA17;
}

.header-tel{
    margin-right: 3%;
    line-height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18.0692px;
    line-height: 21px;
}
.header-tel>li{
    list-style: none;
}

.header-tel>li>a{
    text-decoration: none;
    color: #131312;
    margin-left: 1vh;
}   

.under-header{
    display: flex;
    padding-left: 3vh;
}
.column{
    flex: 50%;
}
    

.left-section-header{
    flex: 50%;
}

.image-sec{
    position: relative;
}

.header-btn{
    width: 252px;
    height: 52px;
    color: #FFFFFF;
    background-color: #131312;
    box-shadow: 3.30492px 3.30492px 6.60984px rgba(0, 0, 0, 0.1), 3.30492px 3.30492px 6.60984px rgba(0, 0, 0, 0.1), inset 0px 3.30492px 3.30492px rgba(0, 0, 0, 0.25), inset 0px 3.30492px 3.30492px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 4em;
    font-weight: 400;
    font-size: 20px;
    margin-left: 3em;
    line-height: 1;
    border: none;
    transition: box-shadow 0.8s, background-color 0.8s, color 0.8s ease-in-out;
}

.header-btn>a{
    color: #FFFFFF;
    transition: color 0.8s ease-in-out;
    width: 100%;
}
.header-btn:hover{
    box-shadow: 3.30492px 3.30492px 6.60984px rgba(0, 0, 0, 0.1), 3.30492px 3.30492px 6.60984px rgba(0, 0, 0, 0.1), inset 0px 3.30492px 3.30492px rgba(0, 0, 0, 0.25), inset 0px 3.30492px 3.30492px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color:#131312 ;
}

.header-btn:hover>a{
    color: #131312;
}

h1{
    color: white;
    font-style: normal;
    font-size: 50px;
    line-height: 69px;
}

.text{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    text-transform: lowercase;
}

span{
    color: #1F1D1D;
}


.slick-wrapper{
    position: relative;
    width: 684px;
    height: 480px;
    margin-top: 10%;
}

.slick-buttons{
    display: flex;
    position: absolute;
    bottom: -34px;
    left: 1.1rem;
    gap: 1.3rem;
    z-index: 2;
}

.slick-navigation {
    position: absolute;
    width: 684px;
    bottom:-14px;
}

.slick-dots {
    bottom:-10px;
}

.slick-dots li {
    width: 10px;
    height: 1px;
    margin: 0;
    width: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slick-dots li button {
    width: 10px;
    height: 1px;
    padding: 0;
    background: black;
    margin: 0 auto;
}

.slick-dots li.slick-active button {
    background: white;
}


.slick-dots li button::before {
    width: 10px;
    height: 1px;
    background: black;
    line-height: 0;
    display: none;
    content: "";
}

.under-btn-right{
    width: 7vh;
    height: 7vh;
    background: #131312;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.under-btn-left{
    width: 7vh;
    height: 7vh;
    background: #131312;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

/*OUR FEATURES*/

.our-features{
    width: 100%;
    background-color: #131312;
    margin-bottom: 0;
}

.features-row {
    display: flex;
}
.about-company {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 28%;
}
.about-list {
    list-style: none;
    display: flex;
}

.about-list>li{
    text-align: center;
    gap: 10px;
}
.features-img{
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;

}

.features-img>img{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.about-block{
    padding-right: 3%;
    margin-top: 6%;
}
.numspan{
    color: #EDCA17;
    font-style: normal;
    font-weight: 400;
    font-size: 7vh;
    line-height: 1.6;
    text-transform: uppercase;
}

.textspan{
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 0.1;
    text-transform: lowercase;
    color: #FFFFFF;
    text-overflow: scroll;
}

.features-btn{
    width: 30vh;
    height: 8vh;
    box-sizing: border-box;
    border: 2px solid #EDCA17;
    border-radius: 16px;
    background-color: transparent;
    color: #FFFFFF;
    margin-top: 8%;
    font-size: 24px;
    margin-left: 35%;
    transition: background-color 0.8s, border-radius 0.8s ease;
}

.features-btn:hover>a{
    transition: color 0.8s ease;
    color: #131312;
}

.features-btn:hover{
    background-color: #EDCA17;
    border-radius: 5px;
}

.features-btn>a{
    color: #FFFFFF;
}

hr{
    width: 16%;
    transform: rotate(90deg);
    background-color: #EDCA17;
    margin-top: 10%;
}


/*OUR OFFERS*/
.wework{
    background-color: #EDCA17;
    text-align: center;
    padding-top: 20px;
    margin-top: -2.5%;
}
.our-offers{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: uppercase;
    color: #131312;
}
.our-offers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-block{
    width: 445px;
    height: 346px;
    background-color: #131312;
    text-align: center;
    border-radius: 15px;
    color: #EDCA17;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-block>h3{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: lowercase;
}

/*COLLABORATIONS*/

.collabs{
    background-color: #EDCA17;
    text-align: center;
    margin-top: -3vh;
    padding-top: 50px;
    width: 100%;
}
.h2-colab{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #131312;
}
.collaborations{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-collapse: separate;
    overflow: hidden;
}

td{
    border: solid 3px #000;
}

tr:first-child td:first-child{border-top-left-radius: 20px;}
tr:first-child td:last-child{border-top-right-radius: 20px;}
tr:last-child td:first-child{border-bottom-left-radius: 20px;}
tr:last-child td:last-child{border-bottom-right-radius: 20px;}

/* td, tr{
    border: 2px solid #131312;
    text-align: center;
} */

h4{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-transform: lowercase;
    color: #131312;
}

.corner{
    border-top-left-radius: 25px;
}

.des{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: lowercase;
    color: #131312;
    margin-top: -10px;
}

.our-projects{
    background-color: #EDCA17;
    padding-top: 50px;
}

.wrapper{
    background: no-repeat left 0 url(../images/curved-lines-yel.png);
    background-color: #131312;
    border-radius: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 1000px;
}

.wrap-img{
    width: 100%;
    text-align: center;
}

.wrap-text{
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 85px 0px 85px;
}

.list-img-slot{
    border-radius: 20px;
    margin-bottom: 135px;
}

.slot3{
}
.overlay{
    position: relative;
}


.where-we-work{
    text-align: center;
    background-color: #EDCA17;
    padding-top: 100px;
}
/* WHERE WE WORK */
.where-we-work>h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    text-transform: uppercase;

    color: #131312;
}
.job-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.job-slot{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #131312;

}

.ri-map-pin-2-line{
    height: 90px;
}

/*QUESTIONS*/

.questions{
    background-color: #EDCA17;
    padding-top: 80px;
    margin-top: -20px;
    padding-bottom: 100px;
}

.form-box{
    background:no-repeat 0 url(../images/curved-lines-yel.png);
    background-color: #131312;
    margin-right: 15%;
    margin-left: 15%;
    height: 630px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 20px;
}

.form-box-text{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.input{
    height: 80px;
    width: 550px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    text-transform: capitalize;
    color: #131312;
    opacity: 0.7;
    border-radius: 55px;
    padding-left: 5vh;
}

.input-btn{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: lowercase;
    color: #131312;
    border-radius: 53px;
    height: 60px;
    width: 50%;
    align-self: center;
    transition: background-color 0.7s ease-in-out;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-btn:hover{
    background-color: #EDCA17;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* FOOTER */

footer{
    background-color: #FFFFFF;
    padding-top: 19px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.footer-logo{
    width: 190px;
    margin-left: -5%;
}

.footer-rights{
    margin-left: -15%;
    margin-top: 95px;
    font-style: normal;
    font-weight: 400;
    font-size: 27.6px;
    line-height: 32px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
}

.footer-rights>span{
    text-transform: uppercase;
}

.reserved-rights{
    margin-top: 150px;
    margin-right: 10%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #131312;
}

.soc-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

.soc-media-text{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.3;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    text-decoration: none;
}

.ri-instagram-fill{
    font-size: 48px;
    float: left;
    margin-top: -17px;
}

.ri-facebook-circle-fill{
    font-size: 48px;
    float: left;
    margin-top: -16px;
}

.modal{
    padding: 0;
    border-radius: 20px;
    background-color: rgba(237, 202, 23, 0.95)
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
}

.modal-content>h3{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-content>p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #131312;
}

.modal-content>img{
    width: 201px;
    height: 151px;
}

.close-link{
    display: block;
    background: #FFFFFF;
    border-radius: 9px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    color: #131312;
    padding: 7px 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.7s, color 0.7s ease-in-out;
}

.close-link:hover{
    background-color: #131312;
    color: #FFFFFF;
}


@media screen and (max-width: 1665px) {

    
}
